head
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible",content="ie=edge")
    link(rel="stylesheet",href="/css/bootstrap.min.css")
    link(href='/css/styles.css')
    title Server 

    .container
        .row.border-bottom.border-dark

            col-12.my-auto
                h4 LISTADO DE PRODUCTOS
         
        .row.border-bottom.border-dark.border-bottom
            .col-1.my-auto
                h5 ID 
           
            .col-3.my-4
                 h5 Imagen
         
            .col-5.my-auto
                h5 Nombre
          
            .col-2.my-auto
                h5 Precio

